requests>=2.31.0
scipy>=1.11.0
pyautogui>=0.9.54
Pillow>=10.0.0
numpy>=1.24.0
python-dotenv>=1.0.0
PyAudio>=0.2.13
pygame>=2.5.0
opencv-python>=4.8.0
opencv-python-headless>=4.8.0
setuptools>=69.0.2
wheel>=0.42.0
