setuptools>=68.0.0
wheel
websockets==11.0.3
pyautogui==0.9.54
Pillow==10.4.0
pygame==2.5.2
python-dotenv==1.0.1
PyAudio
pydub==0.25.1
xata==1.0.0
asyncio==3.4.3
psutil>=5.9.6,<=6.1.0
tiktoken>=0.7.0,<=0.8.0
argparse
